@model IEnumerable<Treinando_Crud.Models.Employee>
@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-group btn-dark">Create</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelObj => obj.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelObj => obj.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelObj => obj.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelObj => obj.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelObj => obj.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelObj => obj.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelObj => obj.DepartmentId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@obj.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@obj.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

